#container{
    width: 90%;
    min-height: 90vh;
    margin: 20px;
    display: flex;
}

article{
    width: 75%;
    height: 100%;
    padding: 25px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: #b3546840;
    border-radius: 10px;
    text-align: justify;
}

article a{
    margin-left: 15px;
    padding: 7px;
    position: relative;
}

#totop{
    margin-top: 30px;
    padding: 10px;
    align-self: flex-end;
}

article a:hover{
    background-color: #b3546840;
    border-radius: 20px;
}

h1{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}

section{
    padding: 55px 15px 10px 15px;
}

section h3{
    padding: 10px 0 0 15px;
}

section p{
    padding-left: 15px;
    margin-bottom: 15px;
}

table{
    margin: 15px 0 15px 15px;
    border-collapse: collapse;
}

.local{
    color: #ffa2d0;
}

.c1{
    width: 20%;
    padding: 0;
}

.c3{
    width: 10%;
    text-align: center;
}

.c2{
    width: 70%;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

.c1, .c2, .c3{
    padding: 10px;
    border-bottom: 1px solid #aaa;
}


.c3 img{
    width: 100%;
    border-radius: 50px;
}

aside{
    position: fixed;
    right: 50px;
    width: 20%;
    padding: 10px;
}

.page-nav li{
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.page-nav li:hover{
    background: #3b3b3b;
    border-radius: 20px;
}
#reference{
  position: relative;
  bottom: 0;
}

