@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Sniglet&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}

/* header */

header{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #d3546840;
    backdrop-filter: blur(20px);
}

#logo{
    width: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Sniglet', sans-serif;
}

#logo img{
    border-radius: 50%;
}

#navbar{
    width: 500px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
}

.btn:hover{
    background-color: #40042180;
}

/* body */

body{
    width: 100%;
    background-color: #362828;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* footer */

footer{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    position: static;
    background-color: #333;
}

#extra, #extra li{
    margin: 15px;
    width: 400px;
    border-radius: 10px;
    padding: 5px;
}

#extra li:hover{
    background-color: #40042180;
}

#extra li:active{
    background-color: #d3546840;
}

#extra p{
    font-size: 1.2em;
}

#dev-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-links{
    display: flex;
    justify-content: center;
}

#social-links img{
    border-radius: 10px;
    margin: 15px;
}

#social-links img:hover {
    background-color: #d3546840;
}

#social-links img:active {
    background-color: #40042180;
}