*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    outline: none;
    text-align: justify;   
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

h1{
    font-size: 32px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 21px;
}
h5{
    font-size: 19px;
}
h6{
    font-size: 17px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}