#container{
    min-height: 90vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper{
    width: 60%;
    min-height: 400px;
    margin: 10px;
    padding: 30px;
    background-color: #5f333a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username{
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    color: #000;
}

#username::placeholder{
    color: #5f333a;
}

.play{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    background-color: #916678;
}

.play:hover{
    background-color: #e7dcdc;
}

.play img{
    width: 25px;
}

/* content */

#question{
    font-size: 20px;
}

#answers-box{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.answer{
    padding: 10px;
    margin: 10px;
}

.answer label{
    margin-left: 10px;
}

.next{
    background-color: transparent;
}

.next img{
    width: 25px;
}
